html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

nav {
    width: 90%;
    left:0;
    right:0;
    margin: 10px auto;

    position: absolute;
    z-index: 10;
}

#map {
    height: 100%;
}

.search-results {
    background: white;
    max-height: 168px;
    overflow: scroll;
}

.search-results a {
    margin-left: 40px;
    display: block;
    color: black;
    font-size: 1.2em;
}

.iw-entry {
    display: flex;
    max-width: 300px;
}

.location-image img {
    border-radius: 7px;
    margin-left: 20px;
}

@media only screen and (min-width: 601px) {
    nav {
        margin: 10px 10px;
    }

    nav, nav .nav-wrapper i{
        height: 56px;
        line-height: 56px;
        max-width: 400px;
    }

    .search-results {
        max-height: 336px;
    }
}
