html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

nav {
    width: 90%;
    left:0;
    right:0;
    margin: 10px auto;

    position: absolute;
    z-index: 10;
}

#map {
    height: 100%;
}

.search-results {
    background: white;
    max-height: 168px;
    overflow: scroll;
}

.search-results a {
    margin-left: 40px;
    display: block;
    color: black;
    font-size: 1.2em;
}
